@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

.animate-landing1 {
  animation-name: landing1;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0,.71,.57,1);
  animation-iteration-count: 1;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

.animate-landing2 {
  animation-name: landing2;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0,.71,.57,1);
  animation-delay: 0.15s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.animate-landing3 {
  animation-name: landing3;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0,.71,.57,1);
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes landing1 {
  0%   {transform: translateY(5px); opacity: 0;}
  100% {transform: none;}
}

@keyframes landing2 {
  0%   {transform: translateY(10px); opacity: 0;}
  100% {transform: none;}
}

@keyframes landing3 {
  0%   {transform: translateY(15px); opacity: 0;}
  100% {transform: none;}
}

.moved {
  transform: translateX(-35vw) translateY(50vh) scale(1.4);
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
